<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.leuski.galley.server</string>
	<key>BundleProgram</key>
	<string>Contents/Resources/Markdown Preview Server.app/Contents/MacOS/Markdown Preview Server</string>
	<key>RunAtLoad</key>
	<false/>
	<key>KeepAlive</key>
	<false/>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>net.leuski.galley.server</string>
	</array>
</dict>
</plist>
